.modal {
    opacity: 1;
    padding-top: 12%;
}

.buttons {
    padding-bottom: 0;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-enter {
  opacity: 0;
  animation: fade-in 300ms forwards;
}

.fade-exit {
  opacity: 1;
  animation: fade-out 300ms forwards;
}
 
.btn-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

table.table tbody tr td,
table.table thead tr th,
table.table thead {
  border: 2px solid #ddd;
  vertical-align: middle;
}
  
.table td {
    text-align: center;
    vertical-align: middle;
}

.table th {
    text-align: center;
    vertical-align: bottom;
} 

.table {
  width: 100%;
  margin-bottom: 0;
}
.table thead tr th td{
    white-space:nowrap
}

.btn-group {
    gap: 1px;
}

.btn-group .btn.btn-default {
    background: none;
    border-color: transparent;
    border: transparent;
}

.btn-group .btn.btn-default:hover, .btn-group .btn.btn-default:focus {
    background: transparent;
    color: #000000;
}

.add-config-btn {
    margin: 1em 0 0 0;
}

.radio.btn-group {
    justify-content: flex-start;
}

.options .btn.btn-primary {
    background: transparent;
}

.form-group .form-control {
  margin-top: 0.5%;
  margin-bottom: 1%
}

.radio {
  margin-top: 0;
  margin-bottom: 1%
}

.action-table {
  margin-bottom: 1%;
}

.radio-form {
  margin-bottom: 0px;
}

.radio .btn-secondary:not(.active):not(.disabled):focus, .radio .btn-secondary:not(.active):not(.disabled).active:focus, .radio .btn-secondary:not(.active):not(.disabled):hover {
  background-color: transparent;
}


.radio:focus, .radio:focus-visible, .radio:focus-within, .radio::selection {
  background-color: transparent;
}