.btn-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

table.table tbody tr td,
table.table thead tr th,
table.table thead {
  border: 2px solid #ddd;
  vertical-align: middle;
}
  
.table td {
    text-align: center;
    vertical-align: middle;
}

.table th {
    text-align: center;
    vertical-align: bottom;
} 

.table {
    width: 100%;

}
.table thead tr th td{
    white-space:nowrap
}

.btn-group {
    gap: 1px;
}

.btn-group .btn.btn-default {
    background: none;
    border-color: transparent;
    border: transparent;
}

.btn-group .btn.btn-default:hover, .btn-group .btn.btn-default:focus {
    background: transparent;
    color: #000000;
}

.add-config-btn {
    margin: 1em 0 0 0;
}
