.modal {
  opacity: 1;
  padding-top: 12%;
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: hidden;
}

.modal-dialog .modal-header {
  display: flex;
}

.modal-dialog .modal-body {
  display: flex;
  flex-direction: column;
}

.modal-dialog {
  width: 615px;
  max-width: 615px;
}

.customModalBody {
  height: 80%;
  overflow-y: auto;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-enter {
  opacity: 0;
  animation: fade-in 300ms forwards;
}

.fade-exit {
  opacity: 1;
  animation: fade-out 300ms forwards;
}
 
.btn-group {
  display: flex;
  justify-content: space-between;
}

.btn-group .btn.btn-default {
  background: none;
  border-color: transparent;
  border: transparent;
}

.btn-group .btn.btn-default:hover, .btn-group .btn.btn-default:focus {
  background: transparent;
  color: #000;
}

.radio.btn-group {
  justify-content: flex-start;
}

.options .btn.btn-primary {
  background: transparent;
}

.radio {
  margin-top: 0;
  margin-bottom: 0;
}

.radio-form {
  margin-bottom: 0px;
}

.add-actions {
  margin-top: 15px;
}

.validation-warning {
  color: red;
  font-size: 12px;
}

.config-form {
  width: 100%;
}

.add-action-button {
  display: block;
}

.guestButton.active {
  box-shadow: none;
  outline: transparent;
}

.actionTypeButton.active {
  box-shadow: none;
  outline: transparent;
}

.warning {
  margin-bottom: 27px;
  color: #000;
}

.gapping {
  margin-bottom: 25px;
}

.warning .form-group {
  position: relative;
}

.form-group {
  position: relative;
  margin-bottom: 10px;
}

.warnings {
  margin-bottom: 25.15px;
}

.warnings .form-group {
  position: relative;
}

.form-label {
  color: #000;
}

.type {
  width: 15%;
}

.successfull-message {
  width: 19%;
}

.successfull-message-content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.channels-added {
  width: 19%;
  display: flex;
}

.channels-added-content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.action-name {
  width: 15%;
}

.action-name-content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.display-name {
  width: 15%;
}

.display-name-content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.type-action {
  width: 15%;
}

.success-message-action {
  width: 19%;
}

.successfull-message-content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.channels-added-action {
  width: 30%;
  display: flex;
}

.name-action {
  width: 15%;
}

.action-name-content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.display-name-action {
  width: 21%;
}

.display-name-content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.option-buttons {
  width: 17%;
}

.listTable .table tbody tr td,
.listTable .table thead tr th,
.listTable .table thead {
  border: 1px solid #ddd;
  vertical-align: middle;
}
  
.listTable .table td {
  text-align: center;
  vertical-align: middle;
}

.listTable .table th {
  text-align: center;
  vertical-align: bottom;
} 

.listTable .table thead tr th td{
  white-space:nowrap
}

.listTable .table {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  table-layout: fixed;
}

.listTable .table thead {
  width: 100%;
}

.listTable .table tr {
  display: flex;
  width: 100%; 
}

.listTable th {
  text-align: center;
}

.teamName-dropdown {
  color: black;
}

.guestButton:focus {
  outline: none;
  box-shadow: none 
}
